a { text-decoration: none;}

ul {list-style: none;}

li {list-style: none;}

.link:hover {color: teal; }
button {cursor: pointer;}

body {
    font-family: roboto;
    position: relative;
    width: 1600px;
    height: 2349px;
    background: #FFFFFF;
}
/* Вся секция - Шапка: */
.mainheader { 
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
}
/*Шапка- лого */
.webstudioheader {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}
.web{
color: #2196F3;
}
.studio {
color: #000000;}

/*Шапка-ссылка "Студия" */
.studiolink {
position: absolute;
width: 49px;
height: 16px;
left: 446px;
top: 29px;
color: #2196F3;
}
/*Шапка-ссылка "Портфолио" */
.portfoliolink {
position: absolute;
width: 76px;
height: 16px;
left: 552px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
/* Шапка-блок контакты */
.contacts {
position: absolute;
width: 68px;
height: 16px;
left: 679px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
   
.headeremail {
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
.headertel {
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

/* <Блок эффективные решения - заказать услугу */

.solution {
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background: #2F303A;
}

.solutiontext {
position: absolute;
width: 696px;
height: 120px;
left: 452px;
right: 452px;
top: 200px;
bottom: 280px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;}

/* Кнопка "Заказать услугу" */
.buttonservice {
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: #2196F3;
color: #ffffff;
}
/* Текст в кнопке "Заказать услугу" */
.orderservice {
/* position: absolute;  */
width: 136px;
height: 30px;
left: 732px;
right: 732px;
top: 440px;
height: 30px;
font-family: Roboto;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
}

/* Наши преимущества стили */
.advantages {
position: absolute;
/* width: 1170px;
height: 101px; */
left: 215px;
top: 774px;
padding-top: 94px;
} 

/* Преимущества - заголовок */
.advantagedetailheader {
position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
/* Внимательность к деталям */
.advantagedetailtext {
position: absolute;
width: 270px;
height: 101px;
left: 215px;
top: 800px;
font-family: roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
/* Пунктуальность */
.advantagepunctualityheader {
position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 774px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.advantagepunctualitytext {
position: absolute;
width: 270px;
height: 101px;
left: 515px;
top: 800px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
 color: #757575;
}
/* Планирование */
.advantageplanheader {
position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.advantageplantext {
position: absolute;
width: 270px;
height: 101px;
left: 815px;
top: 800px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
/* Современные технологии */
.advantagetechheader {
position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 774px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.advantagetechtext {
position: absolute;
width: 270px;
height: 101px;
left: 1115px;
top: 800px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
/* Чем мы занимаемся стили */
.whatwedoheader {
position: absolute;
width: 376px;
height: 42px;
left: 612px;
top: 969px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.picone {
position: absolute;
height: 294px;
left: 215px;
top: 1061px;
}
.pictwo {
position: absolute;
height: 294px;
left: 615px;
top: 1061px;
}
.picthree {
position: absolute;
height: 294px;
left: 1015px;
top: 1061px;
}
/* Наша команда - стили */
.sectionteam {
background-color: #F5F4FA;
top: 1449px;
}
.ourteamheader {
position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1543px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.pic {
    position: absolute;
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.position {
    font-weight: 400;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* Игорь Демьяненко */
.idpic {
position: absolute;
left: 215px;
top: 1635px;
background: url(4853.jpg);
border-radius: 0px;
}
.managerigor {
position: absolute;
height: 19px;
width: 151px;
left: 275px;
top: 1925px;
text-align: center;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}
/* Ольга Репина */
.orpic {
position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1635px;
background: url(5844.jpg);
border-radius: 0px;
}
.managerolga {
position: absolute;
width: 109px;
height: 19px;
left: 596px;
top: 1925px;
text-align: center;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}
/* Николай Тарасов */
.managernikolay {
position: absolute;
width: 137px;
height: 19px;
left: 882px;
top: 1925px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.ntpic {
position: absolute;
width: 270px;
height: 260px;
left: 815px;
top: 1635px;
background: url(16166.jpg);
border-radius: 0px;
}
/* Михаил Ярмаков */

.mypic {
position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1635px;
background: url(2968.jpg);
border-radius: 0px;
}
.managermikhail {
position: absolute;
width: 134px;
height: 19px;
left: 1183px;
top: 1925px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/*Футер-Вебстудия */
.footerstyle {
position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2099px;
background: #2F303A;
}
.webstudiofooter {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
}
.studiofooter {
color: #FFFFFF;
}
/* Футер- Адрес */
.adressstyle {
font-style: normal;
padding-left: 215px;
padding-top: 22px;
color: #ffffff;
}

