a { text-decoration: none;}

ul {list-style: none;}

li {list-style: none;}

:root {
    --weblogo-color: #2196F3;
    --text-color: #000000;
    --background:#FFFFFF;
    --portcontacts-color: #212121;
    --tel-color:  #757575;
    --solutionbackground-color: #2F303A;
    
}
body {
    font-family: roboto sans-serif;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background: var(--background);}

button {cursor: pointer;}

.footer .email:hover {
    color: teal;
}
.header-studio:active
.header-studio:hover {
    color: teal;
}

.footer .email:focus {
    color: teal;
}
/* Вся секция - Шапка: */

.header {
letter-spacing: 0.02em;
color: var(--portcontacts-color);}

/*Шапка- лого */
.web {
font-family: Raleway;
font-size: 26px;
line-height: 1.19;
color: var(--weblogo-color)
}
.studio {
font-family: Raleway;
font-size: 26px;
line-height: 1.19;
}
.header-studio {
color: var(--weblogo-color) ;
}

.header .email {
color: var(--weblogo-color);}

.header .tel {
color: var(--tel-color);
}
/* Блок эффективные решения - заказать услугу */
.solution {
background: var(--solutionbackground-color);
}

.solution-text {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--background);
}

/* Кнопка "Заказать услугу" */
.button-service {
font-weight: 700;
font-size: 16px;
background: var(--weblogo-color);
color: var(--background);
}
/* Наши преимущества стили */
.advantages {
line-height: 1.71;
color: #757575;
} 

.advantagedetail-header {
line-height: 1.14;
text-transform: uppercase;
color: #212121;}

.whatwedoheader {
font-size: 36px;
line-height: 42px;
text-align: center;
color: #212121;}

/* Наша команда - стили */ 
.section-team {
background: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
}

.ourteam-header {
font-size: 36px;
line-height: 1.16px;}

/* Стиль секции с тенью */
.team-style {
box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;}

.manager {
color: #212121;
}
.position {
color: #757575;
}

/*Футер-Вебстудия */
address {
font-style: normal;
}
.footer {
line-height: 1.71;
background: var(--solutionbackground-color);}


/* Футер- Адрес */
.footer-adress {
color: var(--background);
}

/* Футер-имейл */
.footer .email, .tel  {
color: #757575;
}

/* Стили для потрфолио */
.vse {
font-size: 16px;
color: var(--background);
background-color: var(--weblogo-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.button-other {
font-size: 16px;;
color: #212121;
background: #F5F4FA;
border-radius: 4px;
}